*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Righteous', cursive;
    text-align: center;
}

body{
    min-height: 100vh;
    background-color: burlywood;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: black;
    z-index: 1;
    
    
}

nav .navbar{
    max-width: 1250px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
    justify-content: center;
    padding: 0 50px;
}


nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
    
}

nav .navbar .nav-links .links{
    display: flex;
    
}

nav .navbar .nav-links .links li{
   
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}



nav .navbar .nav-links .links li a{
    height: 100%;
    align-self: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}

.navbar .nav-links .links li:hover .football-arrow,
.navbar .nav-links .links li:hover .basketball-arrow,
.navbar .nav-links .links li:hover .baseball-arrow,
.navbar .nav-links .links li:hover .hockey-arrow,
.navbar .nav-links .links li:hover .handball-arrow{
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    background: black;
    line-height: 40px;
    border-radius: 0 0 5px 5px;
}

.navbar .nav-links .links .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid red;
    
}

.navbar .nav-links .links .sub-menu li .football-table-arrow,
.navbar .nav-links .links .sub-menu li .basketball-table-arrow,
.navbar .nav-links .links .sub-menu li .baseball-table-arrow,
.navbar .nav-links .links .sub-menu li .hockey-table-arrow,
.navbar .nav-links .links .sub-menu li .handball-table-arrow{
    line-height: 40px;
}

.navbar .nav-links .links .sub-menu li a{
    color: white;
    font-size: 15px;
    font: 500;
}

.sub-menu{
    display: none;
}

.navbar .nav-links .links li:hover .football-sub-menu,
.navbar .nav-links .links li:hover .basketball-sub-menu,
.navbar .nav-links .links li:hover .baseball-sub-menu,
.navbar .nav-links .links li:hover .hockey-sub-menu,
.navbar .nav-links .links li:hover .handball-sub-menu{
    display: block;
}

.sub-menu-2{
    background: black;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    display: none;
}

.f-tables:hover .sub-menu-2,
.basket-tables:hover .sub-menu-2,
.base-tables:hover .sub-menu-2,
.hockey-tables:hover .sub-menu-2,
.handball-tables:hover .sub-menu-2{
    display: block;
}

.navbar .bi-grid-3x3-gap,
.nav-links .sidebar-logo .logo_name,
.nav-links .sidebar-logo .bi-x-lg
{
       display: none; 
}




.league-table{
  
    display: flex;
    flex-direction: column;
}

.container{
    position: absolute;
    padding: 1em;
    margin: 100px 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    background-color: #fafafa;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
}

.title-box {
    
    
   
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
   
    
}



.team{
    margin-top: 5vh;
    width: fit-content;
}


.league-tile{
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   
}
.league-tile p{
    font-size: 16px;
}

.league-tile .rank{
    padding: 1em;
}

.league-tile .stats{
    
    display: flex;
    flex-direction: row;
    
}

/*.league-tile .stats p{
    padding: 10%;
}*/

.league-tile .team {
    
    height: 10%;
    width: 10%;
    
}
.league-tile .team img{
    height: 100%;
    width: 100%;
}


@media  (max-width: 954px){
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .nav-links .links li{
        padding: 0 10px;
    }

    nav .navbar .nav-links .links li a{
        font-size: 15px;
    }

    .container{
        font-size: 15px;
    }

    .league-tile p{
        font-size: 15px;
    }
}

@media  (max-width: 800px){
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        background: black;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }

    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .nav-links .sidebar-logo{
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    
    .navbar .bi-grid-3x3-gap,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bi-x-lg{
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    .navbar .bi-grid-3x3-gap,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bi-x-lg{
       display: block;
    }

    nav .navbar .nav-links .links{
        display: block;
        margin-top: 20px;
    }

    nav .navbar .nav-links .links li{
        display: block;
        
    }

    .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
    }

    nav .navbar .nav-links .links li{
        border-bottom: none;
    }
    .navbar .nav-links .links li:hover .football-sub-menu,
    .navbar .nav-links .links li:hover .basketball-sub-menu,
    .navbar .nav-links .links li:hover .baseball-sub-menu,
    .navbar .nav-links .links li:hover .hockey-sub-menu,
    .navbar .nav-links .links li:hover .handball-sub-menu{
        display: none;
    }

    .navbar .nav-links .links .sub-menu-2{ 
        display: none;
        position: relative;
        top: 0;
        left: 0;
       
    }
    .navbar .nav-links .links .sub-menu-2 li{
        border-bottom: none;
    }

    nav .navbar .nav-links .links li .arrow{
        line-height: 40px;
    }

    .navbar .nav-links .links li:hover .football-arrow,
    .navbar .nav-links .links li:hover .basketball-arrow,
    .navbar .nav-links .links li:hover .baseball-arrow,
    .navbar .nav-links .links li:hover .hockey-arrow,
    .navbar .nav-links .links li:hover .handball-arrow{
        transform: rotate(0deg);
    }

    .navbar .nav-links.show1 .links .sub-menu.football-sub-menu{
        display: block;
    }

    .navbar .nav-links.show2 .links .sub-menu.basketball-sub-menu{
        display: block;
    }

    .navbar .nav-links.show3 .links .sub-menu.baseball-sub-menu{
        display: block;
    }

    .navbar .nav-links.show4 .links .sub-menu.hockey-sub-menu{
        display: block;
    }

    .navbar .nav-links.show5 .links .sub-menu.handball-sub-menu{
        display: block;
    }


    .navbar .nav-links.show6 .links .f-tables .football-tables-sub-menu{
        display: block;
    }

    .navbar .nav-links.show7 .links .basket-tables .basketball-tables-sub-menu{
        display: block;
    }

    .navbar .nav-links.show8 .links .base-tables .baseball-tables-sub-menu{
        display: block;
    }

    .navbar .nav-links.show9 .links .hockey-tables .hockey-tables-sub-menu{
        display: block;
    }

    .navbar .nav-links.show10 .links .handball-tables .handball-tables-sub-menu{
        display: block;
    }

    .container{
        font-size: 10px;
    }

    .league-tile p{
        font-size: 10px;
    }
}
